body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fd;
}

h1 {
    color: #003c8f;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: #006cb7;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.ml-auto, .mr-auto {
    margin: auto !important;
}

.col-md-10, .col-md-8, .col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 0px;
}

.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.form-control {
    display: block;
    width: 100%;
    padding: .4375rem 0;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn {
    float: left;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: .46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.btn:hover {
    background-color: #0069d9;
}

#chatbox {
    background-color: #ffffff;
    margin: 0px auto;
    width: 80%;
    min-height: 70px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#userInput {
    margin: 60px auto;
    width: 40%;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 2px solid #007bff;
    font-family: Arial, sans-serif;
    font-size: 18px;
    transition: border-color .15s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#textInput:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0,0,123,0.25);
}

#text {
    width: 100%;
    font-size: 18px;
    color: #495057;
    background-color: #ffffff;
    padding: 10px 15px; /* Změna paddingu, tak aby byl větší a text byl více odsazený od okraje */
    border: none; /* Odebrání ohraničení */
    border-radius: 30px; /* Vytvoření velmi zaoblených rohů */
    box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Přidání stínu pro trochu hloubky */
    transition: all .3s ease-in-out; /* Přidání animace pro všechny vlastnosti při změně */
}

#text:focus {
    outline: none; /* Odebrání obrysu při zaměření */
    box-shadow: 0 2px 5px rgba(0,123,255,0.5); /* Změna stínu při zaměření */
}

#send {
    display: block;  /* Změna na blokový prvek */
    margin: 20px auto 0;  /* Odsazení shora 20px, zleva a zprava automaticky (vycentrování), zdola 0 */
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    transition: background-color .3s ease-in-out;
}

#send:hover {
    background-color: #0056b3;
}
Toto vycent




#buttonInput {
    padding: 3px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
}

.userText {
    color: #495057;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: right !important;
    line-height: 1.5;
    margin: 10px;
}

.userText span {
    background-color: #d1ecf1;
    color: #0c5460;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.botText {
    color: #495057;
    font-family: Arial, sans-serif;
    text-align: left !important;
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    margin: 10px;
}

.botText span {
    background-color: #cfe2ff;
    color: #004085;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

/* Animace Fade-in */
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.botText, .userText {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    
}